<div class="outer-container">
  <div class="inner-container">

    <div class="news-card">
        <a href="">
          <div class="thumbnail"></div>
          <div class="title-ellipsis">【冨山和彦】さよなら、「日本型サラリーマン」</div>
          <div class="begging-content">
            <p>僕自身は会社に就職したことがなく、学生時代に起業した。それがコンプレックスだった時期もあったけど、いまでは良かったと思っている。</p>
          </div>
        </a>
    </div>
    <div class="news-card">
        <a href="">
          <div class="thumbnail"></div>
          <div class="title-ellipsis">【冨山和彦】さよなら、「日本型サラリーマン」</div>
          <div class="begging-content">
            <p>僕自身は会社に就職したことがなく、学生時代に起業した。それがコンプレックスだった時期もあったけど、いまでは良かったと思っている。</p>
          </div>
        </a>
    </div>
    <div class="news-card-rightend">
        <a href="">
          <div class="thumbnail"></div>
          <div class="title-ellipsis">【冨山和彦】さよなら、「日本型サラリーマン」</div>
          <div class="begging-content">
            <p>僕自身は会社に就職したことがなく、学生時代に起業した。それがコンプレックスだった時期もあったけど、いまでは良かったと思っている。</p>
          </div>
        </a>
    </div>

    <div class="news-card">
        <a href="">
          <div class="thumbnail"></div>
          <div class="title-ellipsis">【冨山和彦】さよなら、「日本型サラリーマン」</div>
          <div class="begging-content">
            <p>僕自身は会社に就職したことがなく、学生時代に起業した。それがコンプレックスだった時期もあったけど、いまでは良かったと思っている。</p>
          </div>
        </a>
    </div>
    <div class="news-card">
        <a href="">
          <div class="thumbnail"></div>
          <div class="title-ellipsis">【冨山和彦】さよなら、「日本型サラリーマン」</div>
          <div class="begging-content">
            <p>僕自身は会社に就職したことがなく、学生時代に起業した。それがコンプレックスだった時期もあったけど、いまでは良かったと思っている。</p>
          </div>
        </a>
    </div>
    <div class="news-card-rightend">
        <a href="">
          <div class="thumbnail"></div>
          <div class="title-ellipsis">【冨山和彦】さよなら、「日本型サラリーマン」</div>
          <div class="begging-content">
            <p>僕自身は会社に就職したことがなく、学生時代に起業した。それがコンプレックスだった時期もあったけど、いまでは良かったと思っている。</p>
          </div>
        </a>
    </div>

  </div>
</div>
